/* Variables */
:root {
  --primary: #a54b03;
  --secondary: #817603;
  --background-default: #192330;
  --background-emphasised: #01182a;
}

/* Base style */
body {
  /* Reset */
  margin: 0 auto;

  /* New rules */
  font-family: "Fira Mono", "DejaVu Sans Mono", monospace;
  font-size: 16px;
  background-color: #192330;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  color: transparent;
  background-image: linear-gradient(45deg, #0084c5, #c6466b);
  background-clip: text;
  font-size: 2rem;
}

h2 {
  color: #a54b03;
  font-size: 1.6rem;
}

h3 {
  color: #7a3905;
  font-size: 1.2rem;
}

/* Navigation */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--background-emphasised);
}

#mobile-logo {
  margin: 4px;
  height: 24px;
  border: 1px solid var(--background-emphasised);
}

#mobile-logo:hover {
  border: 1px solid var(--secondary);
}

#desktop-logo {
  display: none;
}

nav a {
  display: inline-block;
  margin: 4px;
  color: #0089ab;
  background-color: #121a24;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.flags {
  height: 24px;
  border: 1px solid var(--background-default);
  border-radius: 4px;
}

.flags:hover {
  border: 1px solid var(--secondary);
}

main {
  padding: 0 1rem;
}

main p {
  color: #747f88;
  text-align: center;
  font-style: italic;
}

/* Technologies -------------------------------------------------------------------------------- */
#technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: stretch;
  align-items: center;
  gap: 1rem;
}

.technology {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #01182a;
  border-radius: 1.5rem;
}

.technology h4 {
  color: #c6466b;
  padding: 0 auto;
  font-size: 20px;
  text-align: center;
}

footer p {
  margin: 16px;
  text-align: center;
  color: #686000;
}

/* mobile styles */
@media screen and (width >= 620px) {
  /* #technologies { */
  /*   grid-template-columns: 1fr 1fr; */
  /* } */
}

/* tablet styles */
@media screen and (width >= 960px) {
}

/* desktop styles */
@media screen and (width >= 1200px) {
  body {
    width: 1280px;
  }

  /* Technologies ------------------------------------------------------------------------------ */
  /* .technology { */
  /*   grid-column: 1/3; */
  /* } */
}
