/* Variables */
:root {
  --primary: #a54b03;
  --secondary: #817603;
  --background-default: #192330;
  --background-emphasised: #01182a;
}

/* Base style */
body {
  /* Reset */
  margin: 0;
  padding: 0;

  /* New rules */
  font-family: "Fira Mono", "DejaVu Sans Mono", monospace;
  font-size: 16px;
  background-color: #192330;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  color: transparent;
  background-image: linear-gradient(45deg, #0084c5, #c6466b);
  background-clip: text;
  font-size: 2rem;
}

h2 {
  color: #a54b03;
  font-size: 1.6rem;
}

h3 {
  color: #7a3905;
  font-size: 1.2rem;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: var(--background-emphasised);
  text-align: right;
}

#mobile-logo {
  margin: 4px;
  height: 24px;
  border: 1px solid var(--background-emphasised);
}

#mobile-logo:hover {
  border: 1px solid var(--secondary);
}

#desktop-logo {
  display: none;
}

nav a {
  display: inline-block;
  margin: 4px;
  color: #0089ab;
  background-color: #121a24;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.flags {
  height: 24px;
  border: 1px solid var(--background-default);
  border-radius: 4px;
}

.flags:hover {
  border: 1px solid var(--secondary);
}

main {
  margin: 8px;
}

main p {
  color: #747f88;
  text-align: center;
  font-style: italic;
}

#technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.technology {
  grid-column: 1/5;
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
  padding: 24px 32px;
  background-color: #01182a;
  border-radius: 20px;
  min-width: 320px;
}

.technology h4 {
  color: #c6466b;
  padding: 0 auto;
  font-size: 20px;
  text-align: center;
}

footer p {
  margin: 16px;
  text-align: center;
  color: #686000;
}

/* mobile styles */
@media screen and (width >= 620px) {
}

/* tablet styles */
@media screen and (width >= 960px) {
}

/* desktop styles */
@media screen and (width >= 1200px) {
  .technology {
    grid-column: 1/3;
  }
}
