/* Variables */
:root {
	--chambray: 58, 97, 135;
  --cranberry: 225, 69, 114;
  --cyan: 0, 138, 126;
	--deep-lilac: 144, 95, 184;
  --deep-rose: 198, 70, 107;
  --grotto: 4, 118, 208;
  --grotto-shade-800: 205, 228, 246;
  --grotto-shade-900: 230, 241, 250;
  --grotto-tint-200: 3, 94, 166;
  --grotto-tint-800: 1, 24, 42;
  --grotto-tint-900: 0, 12, 21;
	--light-indigo: 102, 107, 200;
	--midnight-blue: 0, 48, 96;
  --mongo: 234, 106, 4;
  --teal: 0, 137, 171;
  --white: 255, 255, 255;

  --primary: rgba(var(--midnight-blue), 1);
  --primary-hover: rgba(var(--chambray), 1);
  --secondary: rgba(var(--grotto), 1);
  --secondary-hover: rgba(var(--grotto-tint-200), 1);
  --accent: rgba(var(--deep-rose), 1);
  --background-default: rgba(var(--grotto-shade-800), 1);
  --background-emphasised: rgba(var(--grotto-shade-900), 1);

	--anchor: rgba(var(--light-indigo), 1);
	--anchor--hover: rgba(var(--deep-lilac), 1);
  --btn__background: rgba(var(--deep-rose), 1);
  --btn__background--hover: rgba(var(--cranberry), 1);
  --btn__txt: rgba(var(--grotto-shade-900), 1);

  --surface-warning: rgba(var(--mongo), 0.8);
  --text-header: var(--primary);
  --text-header--hover: var(--primary-hover);
  --text-body: #07243a;
  --heading: "Montserrat", Helvetica, sans-serif;
  --text-warning: rgba(var(--white), 1);
}

