.line-number {
  user-select: none;
  text-align: right;
  color: rgba(27, 31, 35, 0.3);
  padding: 0 10px;
}

.line {
  white-space: pre;
}

.attribute {
  font-style: italic;
  color: #af0000;
}

.comment {
  font-style: italic;
  color: #8a8a8a;
}

.constant {
  color: #875f00;
}

.constant.builtin {
  font-weight: bold;
  color: #875f00;
}

.constructor {
  color: #af8700;
}

.function {
  color: #005fd7;
}

.function.builtin {
  font-weight: bold;
  color: #005fd7;
}

.keyword {
  color: #5f00d7;
}

.module {
  color: #af8700;
}

.number {
  font-weight: bold;
  color: #875f00;
}

.operator {
  font-weight: bold;
  color: #4e4e4e;
}

.property {
  color: #af0000;
}

.property.builtin {
  font-weight: bold;
  color: #af0000;
}

.punctuation {
  color: #4e4e4e;
}

.punctuation.bracket {
  color: #4e4e4e;
}

.punctuation.delimiter {
  color: #4e4e4e;
}

.punctuation.special {
  color: #4e4e4e;
}

.string {
  color: #008700;
}

.string.special {
  color: #008787;
}

.tag {
  color: #000087;
}

.type {
  color: #005f5f;
}

.type.builtin {
  font-weight: bold;
  color: #005f5f;
}

.variable {
  color: #d0d0d0;
}

.variable.builtin {
  font-weight: bold;
  color: #d0d0d0;
}

.variable.parameter {
  text-decoration: underline;
  color: #d0d0d0;
}
