.course {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primary);
  background: var(--background-emphasised);
}

.course:hover {
  border-color: var(--primary--hover);
}

.course-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.course-header-technology {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.course-header-technology img {
  height: 1.5rem;
}

.course-header-technology span {
  font-weight: 700;
}

.course-header-rating {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.course-header-rating img {
  width: 1.25rem;
}

.course-body h3 a {
  font-size: 1.5rem;
  text-align: start;
  text-decoration: none;
  color: var(--secondary);
}

.course-body h3:hover {
  text-decoration: underline;
  color: var(--secondary);
  cursor: pointer;
}

.course-body p {
  text-align: justify;
  color: var(--text-body);
}

.course-footer p {
  font-weight: 700;
}

.action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}
