.hero {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  background: var(--background-emphasised);
}

.hero h1 {
	font-size: 2rem;
}

.hero .technologies {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  justify-content: center;
}

/* Mobile styles */
@media screen and (width >= 620px) {
	.hero h1 {
  	font-size: 2.5rem;
	}

	.hero .technologies {
  	gap: 1.75rem;
	}
}

/* Tablet styles */
@media screen and (width >= 960px) {
	.hero h1 {
  	font-size: 3rem;
	}

	.hero .technologies {
  	gap: 3rem;
	}
}
