/* Courses ------------------------------------------------------------------------------------- */
.courses {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 1rem;
  max-width: 1280px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
